.NavTab{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  height: 66px;
  margin: auto;
  background: #000000;
}
.NavTab__content{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.NavTab__link{
  color: white;
  margin-right: 40px;
}
.NavTab__link:last-child{
  margin-right: 0;
}

.NavTab__link:hover{
  color: rgb(25, 172, 113);
}